{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Trabalhos voluntário -->

<div class = "panel panel-primary">
   <div class = "panel-heading">
      <h4 class = "panel-title">Trabalhos Voluntários</h4>
   </div>

   <div id="trabalhos" class = "panel-body">

		<div class = "list-group">
  		<a href = "#" class = "list-group-item active">
     		<h3 class = "panel-title">Trabalhos</h3>
   		</a>			<a href="/criarTrabalho"><button>Novo trabalho</button></a>

      {% for trabalho in lista_trabalhos %}

      <a href = "#" class = "list-group-item">
			<img width="64px" height="64px" src = {{trabalho.image}}.url alt = "Generic placeholder image">
     		<h4 class = "list-group-item-heading">
      	 	  	{{trabalho.titulo}}
     		</h4>

	 	   <h4 class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#trabalhos{{trabalho.id}}" aria-expanded="false" aria-controls="{{trabalho.titulo}}">
			  <p class = "btn btn-primary btn-sm"  role = "button">Leia mais </p>
  			</h4>


     		<div id="trabalhos{{trabalho.id}}" class="collapse" role="tabpanel" aria-labelledby="{{trabalho.titulo}}">
    	  		{{trabalho.descricao}}
    		</div>
			 <a href="/editarTrabalho/{{trabalho.id}}"><button>Editar</button></a>

			<a href="/deletarTrabalho/{{trabalho.id}}"><input type="button" value="Excluir"></a>
  		</a>
      {% endfor %}

			<!-- paginacao -->

  {% if is_paginated %}
    <div class="paginacao">
        <span class="paginacao-links">
            {% if page_obj.has_previous %}
            <th align="left">
              <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-black" >
                Anterior</a>
              </th>
            {% endif %}
            {% if page_obj.has_next %}
            <th align="left">
              <a href="?page={{ page_obj.next_page_number }}" class="btn btn-black" >
                Proxima</a>
              </th>
            {% endif %}
             <span class="page-current">
                P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
        </span>
    </div>
  {% endif %}

      <!-- fim paginacao -->
		</div>
	</div>

</div>
{% endblock content %}