{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Trabalhos voluntário -->
<div id="trabalho" class="container">
    <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
      <h2>Trabalhos Voluntários</h2>
    </div>
    <div class="row jobs">
        <div class="col-md-12">
          <div class="table-responsive">
            {% for trabalho in lista_trabalhos %}
              <table class="table">
      	 	  	  <tr>
                  <td class="tbl-title"><h4>{{trabalho.titulo}}</h4></td>
                  <td class="descricao"><span>Descrição: {{trabalho.descricao}}</span></td>
                  <td><a href="/visualizarTrabalho/{{trabalho.id}}">Visualizar Trabalho</a></td>
                </tr>  
              </table> 
          {% endfor %}
        </div>
      </div>
    </div>
			<!-- paginacao -->
    {% if is_paginated %}
        <div class="paginacao">
          <span class="paginacao-links">
            {% if page_obj.has_previous %}
              <th align="left">
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-black" >
                Anterior</a>
              </th>
              {% endif %}
              {% if page_obj.has_next %}
              <th align="left">
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-black" >
                Proxima</a>
              </th>
              {% endif %}
              <span class="page-current">
                P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
          </span>
        </div>
    {% endif %}
</div>


{% endblock content %}