{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="trabalho">
	
<div class = "panel panel-primary">
   	<div id="trabalhos" class = "panel-body">
		<div class = "list-group">
     		<h1 class="row page-title text-center wow bounce">{{object.titulo}}</h1>
		<div href = "#" class = "list-group-item">
			<h1>{{ object.headline }}</h1>
			<p>{{ object.content }}</p>
			<p>Autor: {{ object.autor }}</p>
			<hr class="head-border">
			<p>E-mail para contato: {{ object.email }}</p>
			<hr class="head-border">
			<p>Organizacão: {{ object.organizacao.first_name }} {{ object.organizacao.last_name }}</p>
			<hr class="head-border">
			<p>Titulo: {{ object.titulo }}</p>
			<hr class="head-border">
			<p>Descricao: {{ object.descricao }}</p>
			<hr class="head-border">
			<p>Quantidade de vagas: {{ object.vagas }}</p>
			<hr class="head-border">
			<p>Data Inicio: {{ object.data_inicio }}</p>
			{% if user.tipo == 1%}
				{% if user.id == object.organizacao %}
					<hr class="head-border">
					<p>Data Fim: {{ object.data_fim }}</p>
				{% endif %}
   			{% endif %}

			</div>
		 <center> 
<hr class="head-border">
	{% if user.tipo == 1%}
		{% if user.id == object.organizacao_id %}
        <a href="{% url 'editar-trabalho' object.id %}"><button class = "btn btn-primary btn-sm">Editar</button></a>
     	<a href="{% url 'deletar-trabalho' object.id %}"><input type="button" class = "btn btn-primary btn-sm" value="Excluir"></a>
     	{% endif %}
    {% endif %}

     {% if user.tipo == 0%}
     <a href="{% url 'entrar-trabalho' object.id %}"><input type="button" class = "btn btn-primary btn-sm" value="Inscreva-se"></a>
     {% endif %}
     <a href="{% url 'lista-voluntarios' object.id %}"><input type="button" class = "btn btn-primary btn-sm" value="Voluntarios"></a>
     <a href="{% url 'perfil-usuario' object.organizacao.id %}"><input type="button" class = "btn btn-primary btn-sm" value="Visitar {{ object.organizacao.first_name }} {{ object.organizacao.last_name }}"></a>
       </center> 
		</div>
	</div>
</div>
</div>

{% endblock content %}
