{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="noticias">
  <div class="container" role="listbox">
    {% for noticia in noticias %}
    <div class="row">
      <div class="content">
        <!-- <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide"> -->
        <div class="container">
          <div class="noticia">
            <h2>{{noticia.titulo}}</h2>
            <p>{{noticia.subtitulo}}</p>
            <hr class="head-border-grey">
            <div class="texto">
              {{ noticia.texto|truncatechars:500 }} 
            </div>
            <div class="leia">
              <a class ='btn btn-default' href="{% url 'leiamais' noticia.id%}"> Leia mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
     </div>
   </div>
   {% endblock content %}