{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container" role="listbox">
  <div id="noticias">
    {% for noticia in noticias %}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
       <div class="post-preview">
          <a href="{% url 'leiamais' noticia.id%}">
            <h2 class="post-title">{{noticia.titulo}}</h2>
            <h3 class="post-subtitle">{{noticia.subtitulo}}</h3>
          </a>
          <p class="post-meta">Postado dia {{noticia.dataNoticia}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  <!-- paginacao -->
    {% if is_paginated %}
        <div class="paginacao">
          <span class="paginacao-links">
            {% if page_obj.has_previous %}
              <th align="left">
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-black" >
                Anterior</a>
              </th>
              {% endif %}
              {% if page_obj.has_next %}
              <th align="left">
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-black" >
                Proxima</a>
              </th>
              {% endif %}
              <span class="page-current">
                P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
          </span>
        </div>
    {% endif %}
</div>

{% endblock content %}
