{% extends "base.html" %}

{% block content %}
<div id="trabalho">

  <div class="container">
   <div class="row">

    <div class="center-block head">

     <div class="col-lg-12 col-md-12 col-xs-12">

       <h1>Estatísticas/Dados do Sistema</h1>
       <hr class="head-border-grey">
        <div class="leia center">
          <a class ='btn btn-default' href="/filtros/user"> Estatísticas De Usuários </a>
        </div>
        <div class="leia center">
          <a class ='btn btn-default' href="/filtros/trab"> Estatísticas de Trabalhos </a>
        </div>
        <div class="leia center">
          <a class ='btn btn-default' href="/filtros/trab_user"> Relações Trabalho-Usuário </a>
        </div>

     </div>

   </div>
    
</div>
</div>
</div>
{% endblock content%}