{% extends "base.html" %}

{% block content %}
<div id="trabalho" class="container">
    
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

    <table class="tabela_trabalho">
      <tr>
        <th>Título</th>
        <th>Organização</th>
        <th>Data de Início</th>
        <th>Data de Término</th>
        <th>Vagas</th>
      </tr>
        {% for obj in filter.qs %}
      <tr>
        <td>{{ obj.titulo }}</td>
        <td>{{ obj.organizacao }}</td>
        <td>{{ obj.data_inicio }}</td>
        <td>{{ obj.data_fim }}</td>
        <td>{{ obj.vagas }}</td>      
      </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}