<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
{% extends "base.html" %}

{% block content %}
<br><br>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

    <table>
      <tr>
        <th>Org</th>
        <th>Trab</th>
        <th>Vol</th>

      </tr>
        {% for obj in filter.qs %}
      <tr>
        <td>{{ obj.organizacao }}</td>
        <td>{{ obj.trabalho }}</td>
        <td>{{ obj.voluntario }}</td>
        {% endfor %}
    </table>

{% endblock %}