
{% extends "base.html" %}

{% block content %}
<div id="trabalho">
<div class="container">
    
    
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

    <table class="tabela_trabalho">
      <tr>
        <th>Organização que Oferta</th>
        <th>Título do Trabalho</th>
        <th>Voluntário</th>

      </tr>
        {% for obj in filter.qs %}
      <tr>
        <td>{{ obj.organizacao }}</td>
        <td>{{ obj.trabalho }}</td>
        <td>{{ obj.voluntario }}</td>
        {% endfor %}
    </table>
</div>
</div>

{% endblock %}