/* TABLE OF CONTENT
    -------------------------------------------------- 

    1. NAVBAR
    2. ABOUT US
    3. SERVICE
    4. PORTFOLIO
    5. TEAM
    6. PRICE TABLES
    7. PROCESS
    8. CLIENTS
    9. FACTS
    10. CONTACT    
    11. FOOTER
    12. BORDERS
    13. RESPONSIVE CSS
     
    */

/* 1. Navbar
-------------- */

.navbar-inverse {
  background-color: #0b132b;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
}

/* 2. About Us
-------------- */

.banner{
    background-image: url("../img/hands.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 50px);
    
}


    #about {
	    background: #2c3e50;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
    }
    
    #about h1 {
	    color: #fff;  
    }
    
    #about p {
	    color: #fff;
    }
    
    #skillbar h6 {
	    color: #fff !important;
    }

/* 3. Service
-------------- */
    
    #service {
	    background: #27ad60;
	    padding: 120px 0px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    text-align: center;
    }
    
     #service h1 {
	    color: #fff;
    }
    
    .service-col:hover {
	    background: #2c3e50;
	    color: #fff;
    }
    
    .service-col h4 {
	    color: #fff;
	}
	
	.service-col:hover h4 {
	    color: #e67e22 !important;
	    border-bottom: 1px solid #fff;
    }
    
    .service-col p {
	    color: #c1c1c1;
    }
    
     .service-col:hover p {
	    color: #fff;
    }
    
    .service-col:hover > div {
        background: #e67e22;
        color: #fff;
    }
    
    .icon-wrench, .icon-mobile, .icon-desktop {
	    background-color: #2c3e50;
        color: #e67e22;
    }

/* 4. Portfolio
-------------- */
    
    #portfolio {
	    background: #2c3e50;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
    }
    
    #portfolio h1 {
	    color: #fff;
    }
    
    .caption {
        color: #fff !important;
        background: rgba(39, 174, 96, 0.75);
    }
    
    .caption h5 {
        color: #2c3e50;
	    border-bottom: 1px solid #fff;
	}
    
/* 5. Team
-------------- */
    
    #team {
	    background: #27ad60;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    text-align: center;
    }
    
    #team h1 {
	    color: #fff;
    }
    .team:hover {
	    background-color: #2c3e50;
	    color: #fff;
    }
    
    .team h5 {
        color: #fff;
    }

    .job {
        color: #443e44 !important;
        border-bottom: 1px dashed #9e968f;
    }
    
    .team p {
	    color: #c1c1c1;
    }
    
    .team:hover p {
	    padding: 10px;
	    color: #fff;
    }
    
    .team a {
	    color: #c1c1c1;
    }
    
    .team:hover a {
	    color: #fff;
    }
    
    .member1, .member2, .member3, .member4 {
        color: #e67e22;
    }
    
    .team-member1:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member2:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member3:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member4:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    
    .icon-social {
        background: #fff;
        color: #000;
    }
    
   
    
/* 6. Price
-------------- */
    
    #price {
	    background: #2c3e50;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
    }
    
    #price h1 {
	    color: #fff;
    }
    
    .price-table {
    	border: 1px solid #27ad60;
    }
    
    .price-table-heading h3 {
	    color: #c1c1c1 !important;
    }
    
    .price-table:hover {
        background: #e67e22;
    }
    
    .the-price {
		background-color: #27ad60;
    }
    
    .table-feature {
    	border: 2px solid #e67e22;
	}
	
	.table-feature:hover {
       background: #e67e22;
    }
    
    /* 6. Process
-------------- */
    
    #process {
	    background: #27ad60;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
    }
    
    #process h1 {
	    color: #fff;
    }
    
    .our-process { 
        background: #27ad60 url(../img/process/our-process-theme2.svg) no-repeat center; 
    }
    
    .process-con h5 {  
        color: #c1c1c1;
    }
    
    .process-img { 
        background-color: #2c3e50;
        color: #e67e22;
    }
    
    .process-img:hover {
	    background: #e67e22;
	    color: #fff;
    }


/*7. Clients
-------------- */
    
    #clients {
	    background: #2c3e50;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 1000;
    }
    
    .testemonials p {
	    color: #c1c1c1;
    }
    
    .testemonials .author {
	    color: #e67e22;
    }
    
     #clients h1 {
	    color: #fff;
    }
    
    .nbs-flexisel-item {
        border-bottom: 1px solid #fff;
    }
    
    .nbs-flexisel-nav-left,
    .nbs-flexisel-nav-right {
        background-color: #443e44 !important;
    }
    
    .nbs-flexisel-nav-left:hover,
    .nbs-flexisel-nav-right:hover {
        background-color: #e67e22 !important;
    }
     
/* 8. FACTS
-------------- */
    
    #facts {
	    background: #27ad60 url("../img/pattern_theme_2.svg") repeat;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
    }
    
    #facts h1 {
	    color: #fff;
    }   
    
     /* Fun Facts */
    
    .fun-fact h5 {
	    color: #fff;
    }
    
    .fun-fact h3 {
	    color: #fff;
    }
    
    .fun-fact p {
	    color: #c1c1c1;
	    font-size: 60px;
    }
    
    .fun-fact:hover p {
	    color: #e67e22;
    }   
       
/* 9. Contact
-------------- */
   
    #contact {
	    background: #3a506b;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
    }
    
    #contact h1 {
	    color: #fff;
    }
    
    .requi {
	    color: #fff;
    }
    
/* 10. Footer
-------------- */
    
   .footer-distributed{
    bottom: 0;
    background-color: #0b132b;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 45px 50px;
}

.footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}


	
/* 11. Borders
-------------- */

    .head-border-white {
	    background: #fff;
    }
    
    .head-border-grey {
	    background: #443e44;
    }	

/* 12. General
-------------- */
 
    .head p {
	    color: #fff;
    }
    
    @media only screen and (max-width: 767px) {
	    
	.our-process { 
       background: #27ad60 url(../img/process/our-process-theme2-mobil.svg) no-repeat center top; 
       min-height: 1200px;
       margin-bottom: 150px;
    }
    
    .process-con h5 {  
       background: #27ad60; 
    }
    
    }