.modal{
    z-index: 100000 !important;
}

#contact, #login{
    padding:0 !important;
}

#noticias, #perguntas, #registro, #login, #trabalho{
    min-height: 500px;
}

.form-horizontal p{
    color: #0b132b;
    margin: 15px;
}


#noticias .btn-default{
    color:#0b132b;
    background-color:#2c3e50;
}

#noticias .btn-default:hover{
    color:#7d7a7a;
}

#pagination .page{
 width: 30px;
 height: 33px;
 background: #fff;
 color: black;
 text-align: center;
 display: inline-block;
 margin-bottom: 10px;
 margin-top: 10px;
 font-weight: normal;
 text-align: center;
 vertical-align: middle;
 background-image: none;
 border: 1px solid transparent;
 white-space: nowrap;
 padding: 6px 0px;
 font-size: 14px;
}

.page a{
    color:black!important;
}

#pagination .active{
    font-weight: bold;
    border: 1px solid #000;
}

.btn-black{
    background-color: rgba(67, 61, 67, 0.82);
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 2000;
}

.btn-black:hover{
    color:#fff;
    background-color: #443e44;
}

.noticia, .pergunta, .trabalho{
    min-height: 300px;
    margin: 20px;
    padding: 10px;
}

.noticia h2, .pergunta h3{
    color:#0b132b;
    font-weight: 400;
    font-size: 50px;
    border : none;
}

.leia a{
    color:#5bc0be;
    text-align: center;
    margin: 30px;
}

.leia a:hover{
    color:#039BE5;
    text-align: center;
}

.pergunta p{
    color:#0b132b;
    text-align: justify;
}

#noticias p{
    color:#0b132b;
    text-align: justify;
    margin: 25px;
}

.noticia .texto, .pergunta .texto{
    text-align: justify;
    color:#0b132b;
}

.noticia .leia{
    text-align: center;
}

.pergunta h3{
    color:#2c3e50;
}

.fundo{
    background-color: #fffffa;
}


.portfolio-item {
    margin-bottom: 25px;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}


.post-preview > a {
  color: #2c3e50;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #8BC34A;
}
.post-preview > a > .post-title {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-preview > .post-meta {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085A1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

#contact h1, #contact p{
    text-align: center;
    text-transform: uppercase;
    margin: 25px;
}

.post-heading{
  padding: 100px 0 50px;
  color: #2c3e50;
}

.post-heading h1 {
  font-size: 35px;
}
.post-heading .subheading, .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.post-heading .meta a {
  color: #333333;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

.table{
  margin-left: 40px;
}
.table tr.hide-jobs{
  display: none;
}
.table tr td h4{
  font-weight: 700;
  text-transform: capitalize;
}
.table tr td{
  padding:6px;
}
.table tr td h4 span{
  font-weight: 300;
  font-size: 14px
}
.table tr td p i{
  color: #00AEEF
}
.table tr td p{
  font-size: 13px
}
.table tr td a{
  color: #fff;
  background: #00AEEF;
  padding:12px 15px;
  border-radius: 5px;
  font-size: 13px;
  text-decoration: none;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.table tr:hover td a:hover{
  background: #fff;
  color: #00AEEF;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  border-top: 0px;
  vertical-align: middle;
  padding: 15px
}
.table > tbody > tr > td.tbl-logo{
  padding-right: 0px
}
.table > tbody > tr > td.tbl-apply{
  padding-right: 10px;
  padding-left: 0px;
}
.table > tbody > tr > td.tbl-title{
  padding-left: 5px;
  width: 200px;
}
.table tr.odd{
  background: #F9F9F9;
}
.table tr.even{
  background: #F4FFFF;
}

.page-title {
  padding-top: 70px;
}
.page-title h5{
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0
}
.page-title h2 {
  font-weight: 800;
  margin-top: 5px;
  text-transform: uppercase;
  color: #0b132b;
}
.page-title h2 span{
  color: #00ADEF;
}
.page-title p {
  color: #666666;
  line-height: 30px;
  padding: 0 25%;
  margin-top: 16px;
}

.jobs{
  margin-bottom: 60px
}
.jobs{
  margin-top: 50px
}



.wrapper {
	margin-top: 160px;
	margin-bottom: 190px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}



.tabela_trabalho {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

.tabela_trabalho td, .tabela_trabalho th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tabela_trabalho tr:nth-child(even) {
    background-color: #dddddd;
}

.descricao{
  width: 800px;
  margin: 20px;
}