{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="perguntas">
  <div class="container" role="listbox">
    {% for pergunta in perguntas %}
    <div class="row">
      <div class="content"> 
        <div class="container">
          <div class="pergunta">
            <h3 style="color: black">{{pergunta.pergunta}}</h3>
            <hr class="head-border-grey">
            <div class="center">
              {{ pergunta.resposta }} 
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
     </div>
   </div>

   {% endblock content %}