<div class="form" layout="column">
  <md-content>
    <md-card>
      <md-toolbar>
        <h2 class="md-toolbar-tools">
          <span>Criar Novo Relatório {{ report.name }}</span>
        </h2>
      </md-toolbar>
      <form style="padding: 20px;" name="reportForm" ng-submit="submitForm()">
        <md-input-container>
          <label>Nome do Relátório</label>
          <input required="required" name="name" ng-model="report.name"></input>
        </md-input-container>
        <md-input-container flex>
            <label>Descrição</label>
            <textarea ng-model="report.description"></textarea>
        </md-input-container>
        <label for="root_model">Dado Central</label>
        <select id="root_model" required="required" ng-model="report.root_model" ng-options="item.pk as item.name for item in contentTypes | orderBy:'name'">
        </select>
        <p>"Dado Central" é o Dado que Mais te Interessa. A partir dele serão feitas as associações no Banco de Dados.</p>
        <md-button type="submit" class="md-raised md-primary">Criar Relatório</md-button>
      </form>
    </md-card>
  </md-content>
</div>
