<div ui-tree="" ng-controller="ReportFilterCtrl">
  <div layout="row">
    <div class="move_trash" flex=""></div>
    <div flex="">Campo</div>
    <div class="col_filter_type" flex="">Tipo do Filtro</div>
    <div class="" flex="">Valor</div>
    <div class="col_checkbox" flex="">Excluir</div>
  </div>
  <div>
    <ol ui-tree-nodes="" ng-model="report.filterfield_set">
      <li data-collapsed="false" ng-include="static('report_builder/partials/filter_renderer.html')" ng-repeat="field in report.filterfield_set" ui-tree-node>
      </li>
    </ol>
  </div>
  <div hide-gt-lg layout="row" layout-sm="column" layout-align="center center" style="height: 55px;">
    <md-button class="fullscreen" ng-click="requestFullscreen()" aria-label="Fullscreen">
      Tela Cheia
    </md-button>
  </div>
</div>
