{% extends '../templates/base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="panel panel-default ">
            <div class="panel-body">
                <h3>Criar nova conta</h3>
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <form >
                    {% csrf_token %}
                    {% include '../templates/cadastro/organizacao_form_template.html' %}
                    <div class="form-group">
                        <div class="col-sm-6 form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

</div>
{% endblock content %}