{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="trabalho">
	
<div class = "panel panel-primary">
   	<div class = "panel-heading">
    	<h4 class = "panel-title">Perfil</h4>
  	</div>
   	<div id="trabalhos" class = "panel-body">
		<div class = "list-group">
  			<a href = "#" class = "list-group-item active">
     			<h3 class = "panel-title">{{ object.first_name }} {{ object.last_name }}</h3>
			</a>
		<div href = "#" class = "list-group-item">

			<p>Nome: {{ object.first_name }} {{ object.last_name }}</p>
			<hr class="head-border">
			<p>Descricao: {{ object.descricao }}</p>
			<hr class="head-border">
			<p>E-mail para contato: {{ object.email }}</p>
			<hr class="head-border">
			{% if user.tipo == 1%}
			<p>Telefone para contato: {{ object.telefone }}</p>
			<hr class="head-border">
			{% endif%}

			</div>
		 <center> 
<hr class="head-border">
 

       </center> 
		</div>
	</div>
</div>
</div>

{% endblock content %}
